@use 'base/variables' as v;
@use 'base/mixins' as mix;

#section-awards{
    margin-bottom: 2rem;
}

#awards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 5rem 0;
    @include mix.phone{
        margin: 2rem auto;
        width: 80%;
    }
    @include mix.tablet{
        
        width: 100%;
        display: grid;
    }
    @include mix.desktop{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    
    }
    .airbnb,
    .amazon,
    .slack,
    .spotify,
    .paypal{
        width: 90%;
        cursor: pointer;
        &:hover{
            transition: 1s transform;
            transform: scale(1.1);
        }
    }
}

.amazon{
    text-align: center;
    padding: 2rem;
    height: auto;
    .contenedor-logo-amazon{
        width: 10rem;
        margin: 2rem auto;
        
        img{
            width: 100%;
        }
    }
}

.slack{
    text-align: center;
    padding: 2rem;
    height: auto;
    .contenedor-logo-slack{
        width: 12rem;
        margin: 2rem auto;
        img{
            width: 100%;
        }
    }
}

.spotify{
    padding: 2rem;
    height: auto;
    text-align: center;
    .contenedor-logo-spotify{
        width: 13rem;
        margin: 2rem auto;
        img{
            width: 100%;
        }
    }
    .stars{
        margin-bottom: 1rem;
    }
    p{
        margin-bottom: .5rem;
    }
}

.paypal{
    padding: 2rem;
    height: auto;
    text-align: center;
    .contenedor-logo-paypal{
        width: 13rem;
        margin: 2rem auto;
        img{
            width: 100%;
        }
    }
}