@use 'base/variables' as v;
@use 'base/mixins' as mix;

html{ 
    font-size: 62.5%;
    box-sizing: border-box;
    
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body{
    font-family: v.$font;
    font-size: 1.6rem;
    
}

a{
    font-size: 1.5rem;
    list-style: none;
}

.general-container{
    max-width: 85%;
    margin: 0 auto;
    overflow: hidden;
}

.semibold{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}

.sizing{
    font-size: 2.3rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}

//encabezados

h2{
    font-size: 2.5rem;
}

h3{
    padding-bottom: 3rem;
}


//botones

.simple-button{
    background-color: transparent;
    color: v.$white;
    border: none;
}

.link{
    color: v.$blue;
    text-decoration: dashed;
    display: inline-block;
}

.white-btn{
    background-color: v.$white;
    border: solid 1px v.$gray;
    padding: 8px 10px;
    border-radius: 5px;
    &:hover{
        background-color: v.$orange;
        color: v.$white;
        transition: 1s transform;
        transform: scale(1.06);
    }
}

.blue-btn{
    background-color: v.$blue;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    color: v.$white;
    &:hover{
        transition: 1s transform;
        transform: scale(1.1);
    }
}
.button-download{
    background-color: #000000;
    padding: 1rem;
    width: 19rem;
    height: 7rem;
    color: v.$white;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    p{
        line-height: 1.2;
        margin-bottom: 0;
    }
}

.green{
    background-color: v.$green;
    padding: 1rem 1.5rem;
    display: block;
    border-radius: 1rem;
    text-align: center;
    color: v.$white;
    font-size: 1.4rem;
}

.uppercase{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.skew{
    background-color: v.$white;
    width: 100.1%;
    height: 170px;
    position: absolute;
    bottom: -1px;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}
.skew2{
    background-color: v.$purple;
    width: 100%;
    height: 70px;
    position: absolute;
    top: -69px;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}


// TARJETAS

.general-target{
    background-color: v.$white;
    border-radius: 1rem;
}

.shadow{
    box-shadow: 0px 0px 10px 6px v.$gray;
}


//ENVOLVENTES

.orange-tag,
.green-tag,
.blue-tag{
    padding: 1rem 1.5rem;
    color: v.$white;
    display: inline-block;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.orange-tag{
    background-color: v.$orange;
}

.green-tag{
    background-color: v.$green;
}

.blue-tag{
    background-color: v.$blue;
}



.animacion1{
    @include mix.desktop{
        transition: transform 1s;
        -o-transition: transform 1s;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        transform: translate(-600px);
        -o-transform: translate(-600px);
        -moz-transform: translate(-600px);
        -webkit-transform: translate(-600px);
    }
    
}

.animacion2{
    @include mix.desktop{
        transition: transform 1s;
        -o-transition: transform 1s;
        -webkit-transition: transform 1s;
        -moz-transition: transform 1s;
        transform: translate(700px);
        -o-transform: translate(700px);
        -moz-transform: translate(700px);
        -webkit-transform: translate(700px);
    }
    
}